@font-face {
	font-family:"Alegreya Sans";
	font-style:normal;
	font-weight:bold;
	src : url("../../font/AlegreyaSans-Bold.otf");
}
@font-face {
	font-family:"Alegreya Sans";
	font-style:italic;
	font-weight:bold;
	src : url("../../font/AlegreyaSans-BoldItalic.otf");
}
@font-face {
	font-family:"Alegreya Sans";
	font-style:oblique;
	font-weight:bold;
	src : url("../../font/AlegreyaSans-BoldItalic.otf");
}
@font-face {
	font-family:"Alegreya Sans";
	font-style:italic;
	font-weight:normal;
	src : url("../../font/AlegreyaSans-Italic.otf");
}
@font-face {
	font-family:"Alegreya Sans";
	font-style:oblique;
	font-weight:normal;
	src : url("../../font/AlegreyaSans-Italic.otf");
}
@font-face {
	font-family:"Alegreya Sans Light";
	font-style:normal;
	font-weight:300;
	src : url("../../font/AlegreyaSans-Light.otf");
}
@font-face {
	font-family:"Alegreya Sans Light";
	font-style:italic;
	font-weight:300;
	src : url("../../font/AlegreyaSans-LightItalic.otf");
}
@font-face {
	font-family:"Alegreya Sans Light";
	font-style:oblique;
	font-weight:300;
	src : url("../../font/AlegreyaSans-LightItalic.otf");
}
@font-face {
	font-family:"Alegreya Sans Medium";
	font-style:italic;
	font-weight:500;
	src : url("../../font/AlegreyaSans-MediumItalic.otf");
}
@font-face {
	font-family:"Alegreya Sans Medium";
	font-style:oblique;
	font-weight:500;
	src : url("../../font/AlegreyaSans-MediumItalic.otf");
}
@font-face {
	font-family:"Alegreya Sans";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/AlegreyaSans-Regular.otf");
}
@font-face {
	font-family:"Alegreya Sans Thin";
	font-style:normal;
	font-weight:200;
	src : url("../../font/AlegreyaSans-Thin.otf");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Big {
	border-color:#c7c8ca;
	border-width:1px;
	border-style:solid;
}
div.Thumbs {
	border-color:#c7c8ca;
	border-width:1px;
	border-style:solid;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Alegreya Sans Light", sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Alegreya Sans Light", sans-serif;
	font-size:36px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Alegreya Sans Thin", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Alegreya Sans", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Alegreya Sans Light", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Alegreya Sans Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Alegreya Sans", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Alegreya Sans Medium", sans-serif;
	font-size:18px;
	font-style:italic;
	font-weight:500;
}
span.CharOverride-10 {
	color:#000000;
	font-family:"Alegreya Sans", sans-serif;
	font-size:10px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-11 {
	color:#000000;
	font-family:"Alegreya Sans Medium", sans-serif;
	font-size:10px;
	font-style:italic;
	font-weight:500;
}
span.CharOverride-12 {
	color:#000000;
	font-family:"Alegreya Sans", sans-serif;
	font-size:10px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#000000;
	font-family:"Alegreya Sans", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:bold;
}
#_idContainer000 {
	-ms-transform:translate(416.692px,416.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(416.692px,416.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(416.692px,416.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(416.692px,416.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer001 {
	-ms-transform:translate(178.582px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(178.582px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(178.582px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(178.582px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer002 {
	-ms-transform:translate(59.527px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer003 {
	-ms-transform:translate(178.582px,59.402px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(178.582px,59.402px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(178.582px,59.402px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(178.582px,59.402px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer004 {
	-ms-transform:translate(416.692px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(416.692px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(416.692px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(416.692px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer005 {
	-ms-transform:translate(297.637px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.637px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.637px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.637px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer006 {
	-ms-transform:translate(178.582px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(178.582px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(178.582px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(178.582px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer007 {
	-ms-transform:translate(297.637px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.637px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.637px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.637px,416.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer008 {
	-ms-transform:translate(297.637px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.637px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.637px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.637px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer009 {
	-ms-transform:translate(178.582px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(178.582px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(178.582px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(178.582px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer010 {
	-ms-transform:translate(59.527px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer011 {
	-ms-transform:translate(59.402px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.402px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.402px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.402px,178.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer012 {
	-ms-transform:translate(59.402px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.402px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.402px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.402px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer013 {
	-ms-transform:translate(297.512px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.512px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.512px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.512px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer014 {
	-ms-transform:translate(416.692px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(416.692px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(416.692px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(416.692px,297.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer015 {
	-ms-transform:translate(416.692px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(416.692px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(416.692px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(416.692px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.06px;
}
#_idContainer016 {
	-ms-transform:translate(58.777px,58.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(58.777px,58.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:477.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.777px,58.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(58.777px,58.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:477.47px;
}
#_idContainer017 {
	-ms-transform:translate(59.527px,55.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,55.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:481.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,55.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,55.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
#_idContainer018 {
	-ms-transform:translate(59.527px,52.515px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,52.515px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:484.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,52.515px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,52.515px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
#_idContainer019, #_idContainer021, #_idContainer024, #_idContainer034 {
	-ms-transform:translate(59.527px,58.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,58.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:478.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,58.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,58.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
#_idContainer020, #_idContainer025, #_idContainer028, #_idContainer031, #_idContainer035, #_idContainer038, #_idContainer041, #_idContainer044, #_idContainer047, #_idContainer050, #_idContainer053, #_idContainer056, #_idContainer059, #_idContainer062, #_idContainer065, #_idContainer068 {
	-ms-transform:translate(59.527px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:476.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
#_idContainer022, #_idContainer026, #_idContainer029, #_idContainer032, #_idContainer036, #_idContainer039, #_idContainer042, #_idContainer048, #_idContainer051, #_idContainer054, #_idContainer057, #_idContainer066 {
	-ms-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:242.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
#_idContainer023, #_idContainer027, #_idContainer030, #_idContainer033, #_idContainer037, #_idContainer040, #_idContainer043, #_idContainer046, #_idContainer049, #_idContainer052, #_idContainer055, #_idContainer058, #_idContainer061, #_idContainer064, #_idContainer067, #_idContainer070 {
	-ms-transform:translate(59.527px,503.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,503.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,503.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,503.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
#_idContainer045 {
	-ms-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:255.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
#_idContainer060, #_idContainer063 {
	-ms-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:258.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
#_idContainer069 {
	-ms-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:334.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
#_idContainer071 {
	-ms-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:480.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.527px,56.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.22px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
